<ul>
	<li><a href="#" data-weight="32" data-target="languages">Languages</a></li>
	<li><a href="#" data-weight="30" data-target="systems">Systems</a></li>
	<li><a href="#" data-weight="32" data-target="databases">Databases</a></li>
	<li><a href="#" data-weight="32" data-target="sysadmintools">System Admin Tools</a></li>
	<li><a href="#" data-weight="32" data-target="developmenttools">Development Tools</a></li>
	<li><a href="#" data-weight="32" data-target="services">Services</a></li>
	<li><a href="#" data-weight="32" data-target="webservers_frameworks">Webservers & Frameworks</a></li>
	<li><a href="#" data-weight="32" data-target="software">Software</a></li>
</ul>