<ul>
	<li><a href="http://rvm.io" target="_blank" data-weight="32">RVM</a></li>
	<li><a href="http://rbenv.org" target="_blank" data-weight="32">rbenv</a></li>
	<li><a href="http://git-scm.com" target="_blank" data-weight="32">Git</a></li>
	<li><a href="http://rspec.info" target="_blank" data-weight="30">RSpec</a></li>
	<li><a href="http://capify.org" target="_blank" data-weight="28">Capistrano</a></li>
	<li><a href="http://gembundler.com" target="_blank" data-weight="32">Bundler</a></li>
	<li><a href="http://mxcl.github.com/homebrew" target="_blank" data-weight="30">Homebrew</a></li>
</ul>