<ul>
	<li><a href="http://wikipedia.org/wiki/HTML5" target="_blank" data-weight="28">HTML5</a></li>
	<li><a href="http://haml.info" target="_blank" data-weight="28">Haml</a></li>
	<li><a href="http://www.css3.info" target="_blank" data-weight="28">CSS3</a></li>
	<li><a href="http://sass-lang.com" target="_blank" data-weight="28">Sass & SCSS</a></li>
	<li><a href="http://ruby-lang.org" target="_blank" data-weight="32">Ruby</a></li>
	<li><a href="http://rubyonrails.org" target="_blank" data-weight="32">Ruby on Rails</a></li>
	<li><a href="http://php.net" target="_blank" data-weight="22">PHP</a></li>
	<li><a href="http://developer.mozilla.org/en/JavaScript" target="_blank" data-weight="26">JavaScript</a></li>
	<li><a href="http://jquery.com" target="_blank" data-weight="26">jQuery</a></li>
	<li><a href="http://coffeescript.org" target="_blank" data-weight="26">CoffeeScript</a></li>
	<li><a href="http://wikipedia.org/wiki/SQL" target="_blank" data-weight="22">SQL</a></li>
	<li><a href="http://wikipedia.org/wiki/Visual_Basic" target="_blank" data-weight="14">Visual Basic</a></li>
	<li><a href="http://java.com" target="_blank" data-weight="13">Java</a></li>
	<li><a href="http://wikipedia.org/wiki/VBScript" target="_blank" data-weight="20">VBScript</a></li>
	<li><a href="http://wikipedia.org/wiki/Windows_PowerShell" target="_blank" data-weight="20">PowerShell</a></li>
	<li><a href="http://gnu.org/s/bash" target="_blank" data-weight="19">Bash</a></li>
	<li><a href="http://wikipedia.org/wiki/C_(programming_language)" target="_blank" data-weight="12">C</a></li>
	<li><a href="http://wikipedia.org/wiki/C_Sharp_(programming_language)" target="_blank" data-weight="11">C#</a></li>
	<li><a href="http://haskell.org" target="_blank" data-weight="14">Haskell</a></li>
</ul>