<ul>
	<li><a href="http://github.com" target="_blank" data-weight="32">GitHub</a></li>
	<li><a href="http://heroku.com" target="_blank" data-weight="32">Heroku</a></li>
	<li><a href="http://aws.amazon.com/s3" target="_blank" data-weight="28">Amazon S3</a></li>
	<li><a href="http://newrelic.com" target="_blank" data-weight="26">New Relic</a></li>
	<li><a href="http://sendgrid.com" target="_blank" data-weight="26">SendGrid</a></li>
	<li><a href="http://dnsimple.com" target="_blank" data-weight="28">DNSimple</a></li>
	<li><a href="http://dev.twitter.com" target="_blank" data-weight="30">Twitter API</a></li>
	<li><a href="http://developers.google.com/youtube" target="_blank" data-weight="30">YouTube API</a></li>
</ul>