<ul>
	<li><a href="http://office.com" target="_blank" data-weight="32">Microsoft Office</a></li>
	<li><a href="http://www.microsoft.com/visualstudio" target="_blank" data-weight="28">Microsoft Visual Studio</a></li>
	<li><a href="http://avid.com" target="_blank" data-weight="26">Avid</a></li>
	<li><a href="http://www.sonycreativesoftware.com/acidpro" target="_blank" data-weight="22">Sony ACID Pro</a></li>
	<li><a href="http://www.adobe.com/products/photoshop" target="_blank" data-weight="28">Adobe Photoshop</a></li>
	<li><a href="http://www.adobe.com/products/illustrator" target="_blank" data-weight="28">Adobe Illustrator</a></li>
	<li><a href="http://www.adobe.com/products/fireworks" target="_blank" data-weight="28">Adobe Fireworks</a></li>
	<li><a href="http://www.adobe.com/products/aftereffects" data-weight="28">Adobe AfterEffects</a></li>
	<li><a href="http://www.sapien.com" target="_blank" data-weight="30">SAPIEN PrimalScript</a></li>
	<li><a href="http://macromates.com" target="_blank" data-weight="32">TextMate</a></li>
</ul>