<ul>
	<li><a href="http://rubyonrails.org" target="_blank" data-weight="32">Ruby on Rails</a></li>
	<li><a href="http://backbonejs.org" target="_blank" data-weight="25">Backbone.js</a></li>
	<li><a href="http://nodejs.org" target="_blank" data-weight="23">Node.js</a></li>
	<li><a href="http://www.iis.net" target="_blank" data-weight="31">IIS</a></li>
	<li><a href="http://httpd.apache.org" target="_blank" data-weight="30">Apache</a></li>
	<li><a href="http://code.macournoyer.com/thin" target="_blank" data-weight="29">Thin</a></li>
	<li><a href="http://www.modrails.com" target="_blank" data-weight="28">Phusion Passenger</a></li>
	<li><a href="http://wikipedia.org/wiki/WEBrick" target="_blank" data-weight="27">WEBrick</a></li>
	<li><a href="http://wiki.nginx.org" target="_blank" data-weight="27">nginx</a></li>
</ul>