<ul>
	<li><a href="http://www.oracle.com/us/products/database/overview" target="_blank" data-weight="28">Oracle</a></li>
	<li><a href="http://www.mysql.com" target="_blank" data-weight="32">MySQL</a></li>
	<li><a href="http://www.sqlite.org" target="_blank" data-weight="32">SQLite</a></li>
	<li><a href="http://www.microsoft.com/sqlserver" target="_blank" data-weight="30">Microsoft SQL Server</a></li>
	<li><a href="http://postgresql.org" target="_blank" data-weight="32">PostgreSQL</a></li>
	<li><a href="http://office.microsoft.com/en-us/access" target="_blank" data-weight="28">Microsoft Access</a></li>
	<li><a href="http://www.mongodb.org" target="_blank" data-weight="24">MongoDB</a></li>
	<li><a href="http://redis.io" target="_blank" data-weight="24">Redis</a></li>
	<li><a href="http://couchdb.apache.org" target="_blank" data-weight="24">CouchDB</a></li>
</ul>