<ul>
	<li><a href="http://windows.microsoft.com/en-us/windows/products/windows-xp" target="_blank" data-weight="26">Windows XP</a></li>
	<li><a href="http://windows.microsoft.com/en-us/windows-vista/products/home" target="_blank" data-weight="28">Windows Vista</a></li>
	<li><a href="http://windows.microsoft.com/en-us/windows7/products/home" target="_blank" data-weight="30">Windows 7</a></li>
	<li><a href="http://wikipedia.org/wiki/Windows_Server_2003" target="_blank" data-weight="28">Windows Server 2003</a></li>
	<li><a href="http://www.microsoft.com/en-us/server-cloud/windows-server" target="_blank" data-weight="30">Windows Server 2008 R2</a></li>
	<li><a href="http://apple.com/support/leopard" target="_blank" data-weight="26">Mac OS X 10.5 Leopard</a></li>
	<li><a href="http://apple.com/support/snowleopard" target="_blank" data-weight="28">Mac OS X 10.6 Snow Leopard</a></li>
	<li><a href="http://apple.com/macosx" target="_blank" data-weight="30">Mac OS X 10.7 Lion</a></li>
	<li><a href="http://apple.com/macosx/server" target="_blank" data-weight="30">Mac OS X Server</a></li>
	<li><a href="http://unix.org" target="_blank" data-weight="24">UNIX</a></li>
	<li><a href="http://www.redhat.com/products/enterprise-linux" target="_blank" data-weight="26">Red Hat Enterprise 5</a></li>
	<li><a href="http://ubuntu.com" target="_blank" data-weight="26">Ubuntu</a></li>
	<li><a href="http://debian.org" target="_blank" data-weight="24">Debian</a></li>
	<li><a href="http://www.gnome.org/gnome-3" target="_blank" data-weight="26">GNOME 3</a></li>
</ul>