<ul>
	<li><a href="http://www.microsoft.com/en-us/server-cloud/windows-server/active-directory-overview.aspx" target="_blank" data-weight="30">Active Directory</a></li>
	<li><a href="http://technet.microsoft.com/en-us/windowsserver/bb310732.aspx" target="_blank" data-weight="30">Group Policy</a></li>
	<li><a href="http://www.microsoft.com/en-us/server-cloud/windows-server/windows-deployment-services-wds.aspx" target="_blank" data-weight="28">Windows Deployment Services</a></li>
	<li><a href="http://www.vmware.com/products/vsphere" target="_blank" data-weight="30">VMware vSphere</a></li>
	<li><a href="http://www.vmware.com/products/view" target="_blank" data-weight="32">VMware View</a></li>
	<li><a href="http://www.vmware.com/products/thinapp" target="_blank" data-weight="26">VMware ThinApp</a></li>
	<li><a href="http://www.vmware.com/products/workstation" target="_blank" data-weight="26">VMware Workstation</a></li>
	<li><a href="http://www.symantec.com/ghost-solution-suite" target="_blank" data-weight="26">Symantec Ghost</a></li>
	<li><a href="http://www.sassafras.com" target="_blank" data-weight="28">Sassafras KeyServer</a></li>
	<li><a href="http://www.computerlabsolutions.com" target="_blank" data-weight="28">CLS LabStats</a></li>
	<li><a href="http://apple.com/remotedesktop" target="_blank" data-weight="32">Apple Remote Desktop</a></li>
	<li><a href="http://support.apple.com/kb/HT5169" target="_blank" data-weight="32">OS X Server Admin Tools</a></li>
	<li><a href="http://wikipedia.org/wiki/Workgroup_Manager" target="_blank" data-weight="28">OS X Workgroup Manager</a></li>
	<li><a href="http://wikipedia.org/wiki/Apple_Open_Directory" target="_blank" data-weight="28">Open Directory</a></li>
	<li><a href="http://deploystudio.com" target="_blank" data-weight="32">DeployStudio</a></li>
	<li><a href="http://puppetlabs.com" target="_blank" data-weight="26">Puppet</a></li>
	<li><a href="http://theforeman.org" target="_blank" data-weight="26">Foreman</a></li>
</ul>