<%= image_tag 'home.png', :id => 'home_btn', :size => '20x20' %>
<%= image_tag "me.jpg", :title => "Me at Lambeau Field", :id => "my_pic", :size => "320x490" %>
<section id="page_header">
  <div class="page_header_title">About Me</div>
  <div class="page_header_separator">JI</div>
</section>
<section id="page_content">
  <p>Hi, I'm Nick.  Help me turn my passion into my profession.</p>
  <p>I'm a 26 year old St. Louis native currently residing in Columbia, Missouri.  </p> 
</section>