<% cache do %>
  <%= image_tag 'home.png', :id => 'home_btn', :size => '20x20', :title => 'Go back to the home page' %>
  <%= image_tag "me.jpg", :title => "Me at Lambeau Field", :id => "my_pic", :size => "320x490" %>
  <section id="page_header">
    <div class="page_header_title">About Me</div>
    <div class="page_header_separator">JI</div>
  </section>
  <section id="page_content">
    <div id="pg1" class="pg">
      <p>
        I'm a 26 year old St. Louis native currently living in Columbia, Missouri.  A few years
        ago, I accepted a full-time position as a systems administrator with the University of Missouri.  I was 
        still an undergrad, but I saw it as an opportunity to gain professional experience that would set me 
        apart from other college graduates.  
      </p> 
      <p>
        My passion, however, has always been for web development.  After I graduated, I began to look
        for developer positions, but a few weeks into searching, I discovered Ruby on Rails.  I was hooked 
        almost immediately, so I decided to postpone the job search and take the time to build up my knowledge
        of Rails.   
      </p>
      <p>
        What attracted me to Rails was more than just the code.  It was everything around it, like how passionate
        and involved the developer community is.  There seems to be an abundance of innovation, where everything I 
        learn leads me to discover five more new and interesting things to learn.  While this would probably be a 
        rather unappealing concept for many developers, to me it's the very reason I want a career in web development.
      </p>
      <p>
        I now have a solid understanding of Ruby on Rails, and I'm ready to turn my passion into
        my profession.  I built this site as a demonstration of the value I believe that I can bring to your team. 
      </p>
      <p>
        Thank you for taking the time to come here and see what I can offer. I look forward to hearing what you think.
      </p>
    </div>
  </section>
<% end %>