<%= image_tag 'home.png', :id => 'home_btn', :size => '20x20', :title => 'Go back to the home page' %>
<section id="page_header">
  <div class="page_header_title">Education</div>
  <div class="page_header_separator">JI</div>
</section>
<section id="page_content">
  <div id="education_content">
    <div class="row1">University of Missouri '10</div>
    <div class="row2">
      <div><span>Bachelor of Science</span>Computer Science</div>
      <div><span>Bachelor of Science</span>Information Technology</div>
    </div>
    <div class="row3">
      <div><span>CS/IT GPA</span>3.61</div>
      <div><span>Cumulative GPA</span>3.24</div>
    </div>
  </div>
</section>