<% cache do %>
  <%= image_tag 'home.png', :id => 'home_btn', :size => '20x20', :title => 'Go back to the home page' %>
  <section id="page_header">
    <div class="page_header_title">Experience</div>
    <div class="page_header_separator">JI</div>
  </section>
  <section id="page_content">
    <div id="left_angled_bar">
      <div>Systems Support Analyst, OS & Software Deployment</div>
    </div>
    <div id="right_angled_bar">
      <div>University of Missouri Division of Information Technology</div>
    </div>
    <div id="timeframe">August 2008 - present</div>
    <table id="job_details">
      <tr id="job_description">
        <td class="left_pane">
          <div id="description_button" class="experience_btn">Description</div>
        </td>
        <td class="right_pane">
          <ul>
            <li>Responsible for operating system and software functionality for over 1,700 end-user devices (PCs, Macs, laptops, netbooks, thin clients, zero clients) spread out in labs and classrooms across campus.</li>
            <li>Required to build upwards of ten operating system images (Windows, Mac, Linux) to be deployed prior to each semester.</li>
            <li>Interface with faculty to ensure the software they need is installed and configured for their needs.</li>
          </ul>
        </td>
      </tr>
      <tr id="selected_contributions">
        <td class="left_pane">
          <div id="selected_contributions_button" class="experience_btn">Selected Contributions</div>
        </td>
        <td class="right_pane">
          <ul>
            <li>Developed a web application for computer management, monitoring, availability, reporting, and statistics</li>
            <li>Seamlessly transitioned Macs to OS X 10.6 Snow Leopard in May 2010, then to OS X 10.7 Lion in May 2012</li>
            <li>Seamlessly transitioned PCs from Windows XP to Windows 7 in May 2010</li>
            <li>Implemented Puppet and Foreman to manage Mac client settings</li>
            <li>Built a website for team to manage software requests, licensing, and inventory</li>
            <li>Wrote a webpage for end-users to submit feedback to managers</li>
            <li>Transitioned several sites from full desktops to thin clients connecting to VMware View linked clones</li>
          </ul>
        </td>
      </tr>
    </table>
  </section>
<% end %>