@mixin font-face($font-family, $file-path, $weight: normal, $style: normal, $asset-pipeline: false ) {
  @font-face {
    font-family: $font-family;
    font-weight: $weight;
    font-style: $style;

    @if $asset-pipeline == true {
      src: font-url('#{$file-path}.eot');
      src: font-url('#{$file-path}.eot?#iefix')          format('embedded-opentype'),
           font-url('#{$file-path}.woff')                format('woff'),
           font-url('#{$file-path}.ttf')                 format('truetype'),
           font-url('#{$file-path}.svg##{$font-family}') format('svg');
    } @else {
      src: url('#{$file-path}.eot');
      src: url('#{$file-path}.eot?#iefix')               format('embedded-opentype'),
           url('#{$file-path}.woff')                     format('woff'),
           url('#{$file-path}.ttf')                      format('truetype'),
           url('#{$file-path}.svg##{$font-family}')      format('svg');
    }
  }
  
  @media screen and (-webkit-min-device-pixel-ratio:0) {
    @font-face {
      font-family: $font-family;
      font-weight: $weight;
      font-style: $style;

      @if $asset-pipeline == true {
        src: font-url('#{$file-path}.svg') format('svg');
      } @else {
        src: url('#{$file-path}.svg')      format('svg');
      }
    }
  }
}

@include font-face(JennaSueRegular, 'JennaSue/JennaSue-webfont');
@include font-face(DesyrelRegular, 'Desyrel/desyrel-webfont');
@include font-face(ArtifikaMedium, 'Artifika/Artifika-Regular-webfont');
@include font-face(VeggieburgerRegular, 'Veggieburger/VeggiMed-webfont');
@include font-face(QlassikMediumRegular, 'Qlassik/Qlassik_TB-webfont');
@include font-face(PacificoRegular, 'Pacifico/Pacifico-webfont');
@include font-face(NymphetteRegular, 'Nymphette/Nymphette-webfont');
@include font-face(ExoThinItalic, 'Exo/Exo-Thin-Italic-webfont');
@include font-face(ExoExtraLight, 'Exo/Exo-ExtraLight-webfont');
@include font-face(ExoLight, 'Exo/Exo-Light-webfont');
@include font-face(ExoRegular, 'Exo/Exo-Regular-webfont');
@include font-face(ExoMediumItalic, 'Exo/Exo-Medium-Italic-webfont');
@include font-face(ExoDemiBold, 'Exo/Exo-DemiBold-webfont');
@include font-face(CantarellRegular, 'Cantarell/Cantarell-Regular-webfont');
@include font-face(YanoneKaffeesatzLight, 'YanoneKaffeesatz/YanoneKaffeesatz-Light-webfont');
@include font-face(YanoneKaffeesatzRegular, 'YanoneKaffeesatz/YanoneKaffeesatz-Regular-webfont');
